
.test-div {
    background: rgb(109, 109, 230);
    padding: 20px
    margin: 20px
}

.test-div {
color: aquamarine;
}

p {background: cornflowerblue}

p.special, button.special {
    background: peachpuff
}

.test-div h2 {
color: plum;
}

.test-div hover {
    background: pink
}

h1, h2, h3, h4 {
    text-decoration: underline;
}

#house
display: flex;
flex-direction:
row:reverse