H1, H2 {font-family:'Papyrus'}
.castle img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box {
  background: black;
  border: 2px solid #7c0303;
  border-radius: .75rem;
  padding: 1rem;
  margin: 1rem 0;
}